@import "../../shared.scss";

@mixin anim($s) {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale($s);
    cursor: pointer;
  }
}

@mixin short($col) {
  width: 150px;
  background-color: white;
  border: 5px solid $col;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  @include anim(1.1);
}
.sale {
  @include short($blu);
}
.recommended {
  @include short($pnk);
}

.long {
  width: 900px;
  height: 120px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border: 5px solid $pnk;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include anim(1.02);
}

.big {
  background-color: white;
  border: 5px solid $pnk;
  border-radius: 40px;
  padding: 20px;
  width: 800px;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  @include anim(1.1);
}
