@import "../../../shared.scss";

.section{
  width: 100%;
}

.secTitle {
  margin-left: 150px;
}

.sale {
  background-color: rgba(256, 256, 256, 0.4);
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
