@import "../../shared.scss";

.nav {
  width: 100vw;
  height: 60px;
  background-color: $pnk;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.5em;
}

.navbtn {
  margin-right: 20px;
}
.btnimg {
  width: 30px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1px;
  &:active {
    border: 2px solid black;
  }
}
