.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
}
.smol {
  width: 200px;
}
.big{
  width: 400px;
}

.btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.btnImg {
  width: 30px;
}
.thumbnail{
  border-radius: 20px;
}
