@import "../../../shared.scss";

.title {
  margin-left: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.btns {
  position: absolute;
  right: 20px;
  top: 134px;
}
